.centered-content {
  margin: 0 auto;
  max-width: 250px;
}

.table {
    background-color: rgba(255, 255, 255, 0.0);
    font-size: 21px;
}

.tableRowHighlight {
    background-color: rgba(46, 101, 153, 0.3);
    font-size: 21px;
    font-weight: bold;
}

.mainPage {
    background-image: url("frontend/background3.jpg");
}